.footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid rgba(128, 128, 128, 0.308);
  margin-top: 50px;
  font-size: 10pt;

  &--landing-page {
    border: 0px;
    padding: 0 20px;
    margin-top: -70px;
    align-items: end;
  }

  &__github {
    text-decoration: underline;
  }
}
