.header {
	display: flex;
	justify-content: space-between;
	background-color: rgb(29, 29, 29);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

	&__logo {
		padding: 20px;
		height: 20px;
	}
}

.header-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
	padding: 0 20px;

	&__link {
		transition: all 50ms ease-in-out;
		font-weight: bold;
		border-bottom: 2px solid transparent;

		&:hover {
			color: #3cdbc0;
		}

		&--active {
			color: #3cdbc0;
			border-color: #3cdbc0;
		}
	}
}
